
<hr class="separador-footer">

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Arriendos<span>Chile</span></h3>

    <p class="footer-links">
      <a href="/" class="link-1">Inicio</a>
      
      <a href="#">Nosotros</a>
    
      <a href="#">Arrendar</a>
    
      <a href="#">Publicar</a>
      
      <a href="#">Contacto</a>
    </p>

    <p class="footer-company-name">Arriendos Chile © 2024</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa-solid fa-location-dot"></i>
      <p><span>123 calle</span> Ciudad, Chile</p>
    </div>

    <div>
      <i class="fa-solid fa-mobile-screen"></i>
      <p>+569-99999999</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">arriendoschile@mail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Donde encontrarnos</span>
      
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></i></a>

    </div>

  </div>

</footer>

