{% load static %}
<nav class="navbar navbar-expand-md ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/logonavbarimg.png' %}" alt="Icono Casa Navbar" width="150">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex gap-4 align-items-center justify-content-start">
        
        <li class="nav-item">
          <a class="nav-link enlace-nav" aria-current="page" href="/">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link enlace-nav" aria-current="page" href="{% url 'inmuebles' %}">Inmuebles</a>
        </li>



      {% if user.is_authenticated or user.is_staff %}
      <li class="nav-item dropdown saludo-usuario" style="list-style: none;">
        <a class="nav-link dropdown-toggle boton-arrendar" href="/inmuebles/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% endif %}
          {% if user.is_staff %}
          <div class="saludo-user">
            <p>Hola, <br>{{user.username | title}}</p>
          </div>
          {% elif user.is_authenticated %}
          <div class="saludo-user">
            <p>Hola, <br>{{user.first_name}} {{user.last_name}}</p>
          </div>      
          {% endif %}
        
        </a>
        <ul class="dropdown-menu mb-3">
          {% if user.is_authenticated or user.is_staff %}
          <li><a class="dropdown-item" href="/accounts/profile/">Perfil</a></li>
          {% endif %}
          {% if user.perfil_usuario.rol == 'arrendador' or user.is_staff %}
          <li><a class="dropdown-item" href="{% url 'publicar-inmueble' %}">Publicar</a></li>
          <li><a class="dropdown-item" href="/inmueble/ver/">Ver Propiedades</a></li>
          {% endif %}
        </ul>
      </li>      


      </ul>

      

      {% if not user.is_authenticated %}
          <a href="/accounts/login" type="button" class="btn btn-outline-success b-isesion ms-4">Iniciar Sesión</a>
          
      {% elif user.is_authenticated %}
        <form class="d-flex" role="search" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-success b-isesion ms-4">Cerrar Sesión</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>