
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





* {
  font-family: Open Sans;
}

/** MENSAJE ALERTA **/
.contenedor-mensaje-alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

/** Navbar **/

.navbar {
  background-color: transparent;
}


.navbar .enlace-nav:hover, .navbar .saludo-user:hover{
  color: #476ea3!important;
}

.btn-outline-success {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: rgba(32, 178, 171, 0.39);;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #20B2AA;
  --bs-btn-hover-border-color: #20B2AA;
  --bs-btn-bg: rgba(32, 178, 171, 0.808);
  /* margin-left: 2rem; */
  
}

.saludo-user {
  /* font-size: large; */
  font-size: 0.9rem;
  margin-top: 0.3rem;
  display: inline-block;
  font-weight: bold;

  
}

.saludo-user li{
  list-style: none;
}


/** HEADER **/

.header-index {
  font-weight: 100;
  line-height:normal;
  color: #1E375A;
}

.header-index a{
  text-decoration: none;
  color: inherit;
}

body{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(235,243,251,1) 100%);
}

/** INDEX **/

.carousel-item img{
  max-height: 25rem;
  display: block;
  max-width: 90%;
  margin: auto;
}

.carousel-indicators button{
  border-radius: 50%;
  height: 0.5rem !important;
  width: 0.5rem !important;
  margin-bottom: -1rem !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #1E375A;
}

.imagenes-inmuebles {
  min-height: 200px;
  border-radius: 2% 2% 0 0;
}

.card img{
  max-height: 250px;

}



.card-subtitle, .card-text {
  font-size: 0.9rem;
  font-style: italic;
}

/* Tarjetas de ciudades */

.card-ciudades {
  width: 200px;
  height: 200px;
  filter: grayscale(50%);
  transition: all 0.2s ease;
  margin-bottom: 2rem;
  border: transparent;

}

.card-ciudades:hover{
  filter: grayscale(0%);
  transform: scale(1.1);
  font-size: 100rem;
}

.card-ciudades .card-img{
  height: 100%;
}

.card-link {
  text-decoration: none;
  color: inherit; 
}
.card-link:hover {
  text-decoration: none;
}

.titulo-card-index {
  font-size: 1rem;
}

.contenedor-index {
  color: #1E375A;
}




/** LOGIN / REGISTRO**/
.form-login, .form-register {
  width: 80%;
  margin: 1rem auto;
  padding: 0.2rem;
  text-align: center;
}

.form-login label, .form-register label {
  display: block;
  text-align: left;

}

.form-login input {
  width: 100%;
  padding: 10px;
  border: #DEE2E6 solid 1px;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  height: 2.3rem;
}

.btn-info {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: rgba(32, 178, 171, 0.39);;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #20B2AA;
  --bs-btn-hover-border-color: #20B2AA;
  --bs-btn-bg: rgba(32, 178, 171, 0.808);

}

.contenedor-login {
  margin: 0 10rem;
  margin-top: 8rem !important;
}

.opcional{
  font-size: 0.8rem;
  font-style: italic;
}

/** PERFIL **/

.contenedor-perfil, .contenedor-registro, .contenedor-login, .contenedor-publicar {
  color: #1E375A;
  font-weight: 100;
  margin: 0 10rem;
  margin-bottom: 10rem;
}

.perfil-titulo, .perfil-publicar{
  margin-top: 10rem;
}

.alert-info {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;

}

/** PUBLICAR **/
.perfil-publicar {
  margin-bottom: 5rem !important;
}
.publicar-img-url input{
  display: block;
}

/* .prueba .form-select{
  color: #595C5F !important;
} */

/** FOOTER **/


section {
width: 100%;
display: inline-block;
background: #333;
height: 50vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}

.footer-distributed{
/* background: #EBF3FB; */
background: transparent;
/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;

}

/* Footer left */

.footer-distributed .footer-left{
width: 40%;
}

/* The company logo */

.footer-distributed h3{
color:  #1E375A;
font: normal 36px 'Open Sans', cursive;
margin: 0;
}

.footer-distributed h3 span{
color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
color:  #1E375A;
margin: 20px 0 12px;
padding: 0;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
font-weight:400;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #61738B;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}

.footer-distributed .footer-center i{
background-color:  #61738B;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;


}

.footer-distributed .footer-center p{
display: inline-block;
color: #1E375A;
font-weight:400;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  lightseagreen;
text-decoration: none;;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight:300;
font-size: 20px;
left: 0;
color: #61738B;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
width: 20%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color:  #61738B;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span{
display: block;
color:  #1E375A;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #61738B;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

.footer-distributed .footer-links a:hover{
  color: #476ea3!important;
}

.footer-distributed .footer-icons a:hover{
  color: #ced6dd !important;
}

.separador-footer {
  border-color: #61738B;
  color: #61738B;
}

.logo-footer {
  text-decoration: none;

}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

.footer-distributed{
font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: block;
width: 100%;
margin-bottom: 40px;
text-align: center;
}

.footer-distributed .footer-center i{
margin-left: 0;
}

}



