{% extends 'base.html' %}

{% block content %}
  <div class="contenedor-nosotros">
    <h3 class="text-center text-dark my-5">
      Acerca de nosotros
    </h3>

    <div class="row my-5 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-6 d-flex justify-content-end mb-4 img-about">
        <img src="https://cdn.pixabay.com/photo/2018/09/25/09/17/sale-3701777_960_720.jpg" alt="flan" width="100%" >
      </div>
      <div class="col-12 col-md-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sequi necessitatibus fuga, expedita veritatis magnam quas ipsa consequatur itaque veniam facilis asperiores impedit architecto id quae deserunt quis nobis est?</p>
      </div>
    </div>
  </div>


{% endblock %}
