{% extends 'base.html' %}

{% block content %}
  <div class="contenedor-registro">
    <h3 class="text-center my-5">Registro</h3>
    <div class="formulario my-5">
      <form action="/contact_form" method="post">
        {% csrf_token %}
  
        <div class="mt-5">
          <label for="exampleInputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Nombre" name="customer_name">
        </div>

        <div class="my-3">
          <label for="exampleInputEmail" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Apellido" name="customer_email">
        </div>
  
        <div class="my-3">
          <label for="exampleInputEmail" class="form-label">Rut</label>
          <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Rut" name="customer_email">
        </div>

        <div class="my-3">
          <label for="exampleInputEmail" class="form-label">Correo electrónico</label>
          <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Correo electrónico" name="customer_email">
        </div>
  
        <!-- casillas de seleccion -->
        <div class="form-check form-check-inline my-3">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Arrendador</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Arrendatario</label>
        </div>


        {% for error in errores %}
          <span class="badge text-bg-danger">{{error}}</span>
        {% endfor %}
        <div class="d-grid gap-2 d-md-flex justify-content-end">
          <button type="submit" class="btn btn-info text-light px-4 py-2 ">Enviar</button>
        </div>
  
        <p class="text-center mt-5">¿Ya tienes cuenta? &nbsp;<a href="/login">&nbsp;Inicia sesión aqui.</a></p>
      </form>
  </div>
    <!-- <form id="form_cliente" action="/contacto/" method="post">
      {% csrf_token %}
      {{form}}
      <div class="d-grid gap-2 d-md-flex justify-content-end">
        <button type="submit" class="btn btn-info text-light px-4 py-2 mt-3">Enviar</button>
      </div>
    </form>
  </div> -->


{% endblock %}