{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

  <main>
    <div class="contenedor-index">

      <!-- TODAS -->

        <h3 class="text-center my-5">Inmuebles de {{user.first_name}} {{user.last_name}}</h3>

          <div class="row">

            {% for inmueble in inmuebles %}
              <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center mb-5">
                <div class="card" style="width: 18rem;">
                  <img class="imagenes-inmuebles" src="{{inmueble.imagen_ruta}}" class="card-img-top" alt="foto propiedad">
                  <div class="card-body">

                    <h5 class="card-title">$ {{inmueble.precio_mensual_arriendo|format_number}}</h5>

                    <h7 class="card-subtitle mb-2 text-body-secondary mt-5">{{inmueble.tipo_de_inmueble | title}} en arriendo</h7>

                    <h5 class="card-title titulo-card-index">{{inmueble.descripcion | title}}</h5>

                    <p class="card-text">{{inmueble.direccion | title}}</p>
                    
                    <!--
                    <a href="#"><button type="button" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></button></a>
                    <a href="#"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a> -->

                    <a href="{% url 'editar-inmueble' id=inmueble.id %}" type="button" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="#" type="button" class="btn btn-danger" id="{{inmueble.id}}" onclick="eliminar(event)">
                      
                      <i id="{{inmueble.id}}" class="fa-solid fa-trash"></i></a>
                  </div>
                  
                </div>


              </div>            
            {% endfor %}

          </div>




    

      <!-- FIN TODAS -->


      

    </div>
  </main>


{% endblock %}

{% block js %}
  <script>
    function eliminar(event) {
      // 1. Evitamos que enlace me dirija a otro lado
      event.preventDefault()

      // 2. Recuperamos el HREF del enlace clickeado
      const id = event.target.id
      const url = '/inmueble/eliminar/' + id 
      // 3. Confirmamos si el usuario desea eliminar
      const confirmacion = confirm('¿Estás seguro que deseas eliminar?')

      if(confirmacion == true) {
        // redirijo a la pagina URL construida
        window.location.href = url
      } 
    }
  </script>
{% endblock %}